.reveal section .title {
  font-size: 2.5em;
  font-weight: 900;
}

.reveal section h1,
.reveal section h2 {
  font-weight: 600;
}

.reveal section h1.subtitle {
  font-weight: 400;
  margin-bottom: 2em;
}

.reveal section ul {
  list-style-image: none;
}

.reveal section li {
  margin: 0.5em;
}

.reveal section img {
  border: 2px solid #888;
}

.reveal blockquote {
  background: #eee;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 85%; 
  font-size: 1.3em;
}

.reveal pre code {
  background: #eee;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  padding: 20px;
  font-size: 1.2em;
}